<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style1.css">
    <title>brog da galera </title>
</head>
<body>
    <head>
        <div class="navbar">
            <h1>Brog da Galera</h1>
            <a class="botoes" href="">Serviçõs/Produtos</a>
            <a class="botoes" href="">Localização</a>
            <a class="botoes" href="">Fale Conosco</a>
        </div>
    </head>


    <main>
        <article><h2>Noticias</h2></article>
        <article><h3>Noticias relevantes em alta</h3></article>
        <div class="container">
            <article class="block">
                <section>noticia1
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias, magnam nisi. Modi laborum quia commodi molestias quasi asperiores alias officia odit non molestiae ut laudantium, odio nam soluta magnam tempora.
                    <img src="images/download.jpeg" alt="">
                </section>
            </article>
            <article  class="block">
                <section>noticia2
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque laborum fugit placeat fugiat quae dolorum nemo. Et totam neque sit iste dolores, error reiciendis non quisquam magnam, a quis blanditiis?
                    <img src="images/downloadlol.jpeg" alt="">
                </section>
            </article>
            <article  class="block">
                <section>noticia3
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum rem obcaecati, natus nisi modi repellendus libero numquam dolore beatae placeat excepturi voluptates reiciendis. Nihil nemo explicabo corrupti. Numquam, aliquam exercitationem.
                </section>
            </article>
            <article  class="block">
                <section>noticia4
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur id cumque vel in voluptatum eos, omnis rem? Amet ullam natus sint placeat nostrum! Numquam error placeat laudantium aliquid aliquam autem!
                </section>
            </article>
        </div>
    </main>
    <footer>lol lol lol lol lol llol lol lol</footer>
</body>
</html>